body {
    margin: 0; 
    overflow: hidden;
    background-color: white;
  }

canvas { 
    display: block; 
}

.aquarium_window {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: powderblue;
}