/* #85cde9; */
/* #00A9E7; */

.full-height {
    min-height: 100vh;
}

html, body {
    min-height: 100%;
}

nav {
    background: #081E34!important;
}

p {
    font-size: 2.2vh;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
}

.btn {
    color: #ffffff !important;
    border-color: #ffffff !important;

}
.btn:hover {
    background-color: #00AFEF  !important;
    transition:0.1s ease;
}

#profile-image {
    border-style: solid;
    border-radius: 500px;
    border-color: #0F3A64!important;
}