@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000319;
    background-attachment: fixed;
}

img {
    border-radius: 5%;
    border: solid;
    border-color: #F1F3F6;
    background: radial-gradient(circle, #054C7C 0%, #050615 70%);
}
