@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:  #061223;
}

img {
    border: bevel;
    border-radius: 5%;
    border-color: white;
    background: radial-gradient(circle, #054C7C 0%, #061223 70%);
}