@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/br-shape');


.banner {
    background-image: url('/src/images/full-frame-shot-star-field-night.jpg');
    background-size: cover;
}

.fixed-div {
    position: fixed; 
    bottom: 60px; 
    right: 60px; 
    z-index: 1000; 
    background-color: #15638D; 
    padding: 10px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 

    :hover{
        box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.3); 
        transition: 0.2s ease;
    }

  }