@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(0,3,25);
    background: linear-gradient(142deg, rgba(0,3,25,1) 0%, rgba(16,25,61,1) 49%, rgba(0,3,25,1) 100%);
}

img {
    border-radius: 5%;
    background: radial-gradient(circle, #054C7C 0%, #070c20 70%);
}
var(--primary-)

.text-box {
    background-color: #000319;
    color: #F1F3F6;
    border-radius: 1%;
}