@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/archia');
font-family: 'Archia', sans-serif;

body, /* blink currently has bug that requires declaration on `body` */
    html {
      scroll-snap-type: y proximity;
    }
    .snaptarget {
      scroll-snap-align: start;
    }
    

.panel {
  background-image: url('/src/images/208032094_9fc09ab4-eb61-49e9-bdb6-41999e964ff4.jpg);
  background-style: cover;
}



img {
  background-color: #A9CDFF;
}

