@tailwind base;
@tailwind components;
@tailwind utilities;


body, /* blink currently has bug that requires declaration on `body` */
    html {
      scroll-snap-type: y proximity;
    }
    .snaptarget {
      scroll-snap-align: start;
    }

.navbar {
}


.header {
}

.navbar.scrolled  {  
  box-shadow: #070606D3 0px 2px 0px, #080808C4 0px 3px 2px;
}


img {
  display: inline-block;
}
    

