@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:  #000319;
}

img {
    border-radius: 5%;
    background: radial-gradient(circle, #054C7C 0%, #070C20 70%);
}
var(--primary-)

.text-box {
    background-color: #070C20;
    color: #F1F3F6;
    border-radius: 1%;
}