@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/archia');
font-family: 'Archia', sans-serif;

body, /* blink currently has bug that requires declaration on `body` */
    html {
      scroll-snap-type: y proximity;
    }
    .snaptarget {
      scroll-snap-align: start;
    }
    

.panel {
  background-image: url('/src/images/261355386_0221b03f-d096-4098-9d00-e77bf3198208.jpg');
  background-style: cover;
}



img {
  background-color: #A9CDFF;
}

