@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-attachment: fixed;
    animation: gradient-animation 10s ease infinite;
    background: linear-gradient(334deg, #344B7B, #38146C, #000319);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    }
    
    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    

img {
    border-radius: 4%;
    border-style: solid;
    border-color: white;
    background: radial-gradient(circle, #054C7C 0%, #0D1F46 90%);
}

