@tailwind base;
@tailwind components;
@tailwind utilities;


body, /* blink currently has bug that requires declaration on `body` */
    html {
      scroll-snap-type: y proximity;
    }
    .snaptarget {
      scroll-snap-align: start;
    }
    

img {
  background-color: #A3BEE1;
}

