@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/archia');
font-family: 'Archia', sans-serif;

body, /* blink currently has bug that requires declaration on `body` */
    html {
      scroll-snap-type: y proximity;
    }
    .snaptarget {
      scroll-snap-align: start;
    }
    
nav {
  &.dark {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}



img {
  background-color: #A9CDFF;
}

