@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:  #061223;
}

img {
    border-radius: 50%;
    background: radial-gradient(circle, #054C7C 0%, #061223 70%);
}

.text-box {
    background-color: #070C20BC;
    color: #fff;
    border-radius: 1%;
}