@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient( #061223, #092D62),
    url('darkness.webp'); 
    background-attachment: fixed;
}

img {
    border: solid;
    border-radius: 50%;
}