@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000319;
    background-attachment: fixed;
}

img {
    border-radius: 5%;
    border: outset;
    border-width: 2px;
    border-color: #11EF79; 
    background: radial-gradient(circle, #EFE9E9 0%, #EFE9E9 70%);
}
