@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/archia');
font-family: 'Archia', sans-serif;


rollover-blur:hover {
    filter: blur(20px) !important;
    transition: 1s linear !important;
}