@tailwind base;
@tailwind components;
@tailwind utilities;

panel-blue {
    background: radial-gradient(circle, #093288CF 0%, #0A255ECF 90%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
}

.header {
}

.navbar {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: #000C0F !important;
    background-color:#F9FDFE !important;
    backdrop-filter: opacity(0%);
    transition: background-color 300ms linear;
  }
    

img {
    border-radius: 50%;
    border-style: solid;
    background: radial-gradient(circle, #093288CF 0%, #093288CF 90%);
    background-size: 180% 180%; 
}

