@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient( #2f296b, #1b1d7e),
    url('darkness.webp'); 
    background-attachment: fixed;
}

img {
    border: solid;
    border-radius: 50%;
}