@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000319;
    background-attachment: fixed;
}

img {
    border-radius: 5%;
    border: solid;
    border-color:
    background: radial-gradient(circle, #054C7C 0%, #EBECF6 70%);
}
