@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background-image: radial-gradient(circle, #08162D9B, #041B3EA9),
    url('what-the-hex-dark(1).png'); 
    background-attachment: fixed;
}


img {
    box-shadow: -10px 10px theme(colors.accent), 10px -10px theme(colors.accent);
}