@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000319;
    background-attachment: fixed;
}
'accent': '#11EF79',

img {
    border-radius: 5%;
    background: radial-gradient(circle,'#11EF79' 0%, #000319 70%);
}