@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(circle, #093288CF 0%, #0A255ECF 90%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
}

.header {
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    color: #000C0F !important;
    background-color:#F9FDFE !important;
    backdrop-filter: opacity(0%);
    transition: background-color 300ms linear;
  }
    

img {
    border-radius: 50%;
    border-style: solid;
    background: radial-gradient(circle, #EBF8F5C1 0%, #0A255ECF 90%);
    background-size: 180% 180%; 
}

