@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000319;
    background-attachment: fixed;
}

img {
    border-radius: 5%;
    background: radial-gradient(circle, #054C7C 0%, #000319 70%);
}
var(--primary-)

.text-box {
    background-color: #000319;
    color: #F1F3F6;
    border-radius: 1%;
}

.rounded-corners {
    border-radius: 25px;
    border: 2px solid #11EF79;
    padding: 10px;

  }