@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar.scrolled {
    background: #004967;
    transition: background-color 100ms linear;
  }

  .navbar.scrolled span {
    transition: background-color 50ms linear;
  }

  .navbar.scrolled li a {
    color: #032C16 !important;
  }
    

img {
    border-radius: 4%;
    border-style: solid;
    background: radial-gradient(circle, #054C7C 0%, #0D1F46 90%);
    background-size: 180% 180%; 
}

