@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/archia');
font-family: 'Archia', sans-serif;

body, html {
  scroll-snap-type: y proximity;
}
.snaptarget {
  scroll-snap-align: start;
}

body {
  background-image: url('/src/images/cream_pixels.webp');
  background: cover;
}
