@tailwind base;
@tailwind components;
@tailwind utilities;


.background-stars {
    background-attachment: fixed;
    background: linear-gradient(334deg, #0D186B, #091151, #000319);

    background-size: 180% 180%;
    animation: gradient-animation 2s ease infinite;
    
    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}


.navbar.scrolled {
    backdrop-filter: opacity(20%);
    backdrop-filter: blur(10px);
    transition: background-color 200ms linear;
  }
    

img {
    border-radius: 4%;
    border-style: solid;
    background: radial-gradient(circle, #054C7C 0%, #0D1F46 90%);
}

