@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient(circle, #08162D9B, #041B3EA4),
    url('darkness.webp'); 
    background-attachment: fixed;
}


img {
    box-shadow: -10px 10px theme(colors.accent), 10px -10px theme(colors.accent);
}