@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(0,3,25);
    background-attachment: fixed;
}

img {
    border-radius: 5%;
    background: radial-gradient(circle, #054C7C 0%, #000319 70%);
}
var(--primary-)

.text-box {
    background-color: #000319;
    color: #F1F3F6;
    border-radius: 1%;
}