@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:  #061223;
}

img {
    border: solid;
    border-radius: 90%;
    border-color: white;
    background: linear-gradient(180deg, #054C7C, #061223);
}