@tailwind base;
@tailwind components;
@tailwind utilities;


.panel-blue {
    background: url("/src/images/blue-background-with-words-rectangles-it.jpg")  !important;
    background-size: cover !important;
}

.navbar {
}

.header {
}

.navbar {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: #F1F5F6 !important;
    background-color:#010e29 !important;
    backdrop-filter: opacity(0%);
    transition: background-color 300ms linear;
  }
    

img {
    border-radius: 50%;
    border-style: solid;
    background: radial-gradient(circle, #010f2c 0%, #0eb7e0 90%);
}

