<!--about section -->
<div id="aboutSection" class="flex flex-col justify-start bg-white dark:bg-dark-base py-[10vh] sm:pt-[15vh] w-screen h-max text-primary dark:text-dark-white">
            
    <!-- Title -->
    <div id="about-section-title" class="flex flex-col justify-center mb-[5vh] w-full font-semibold text-3xl sm:text-4xl text-center">
        About Me
    </div>

    <div class="flex flex-row justify-center items-start w-[100vw] h-max text-black">

        <div class="flex sm:flex-row flex-col justify-between sm:justify-evenly items-center w-[90vw] h-max">

            <!-- Left box -->
            <div class="flex flex-col justify-around items-center opacity-0 my-[2vh] p-[1vw] rounded-lg w-[90vw] sm:w-[50vw] leading-7 transition-all translate-x-[-40px] duration-700 ease-in-out fadeFromLeft">
                <p class="text-lg sm:text-lg md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl text-pretty leading-6 sm:leading-7 lg:leading-8 xl:leading-9 2xl:leading-10 3xl:leading-12 hyphens-none">
                    I thrive on figuring out how thing work. Whether a love working on teams to build robust 
                    
                    <br> <br>
                    I recently completed my BSc in Computer Science and Data Science from UWA. 
                    In my final year, I helped led a team to developed software for geoarchaeologists working in Esperance WA, delivering a solution that helped streamline their sample analysis process.
                    Additionaly, also I volunteered with Coders for Causes, helping realise a project that made a tangible social impact, and participated in team-based competitive programming. <br> <br>
                    Outside of my studies, I've honed my communication and leadership skills as a tech department team-member at Officeworks and senior tutor at NumberWorks'nWords. These experiences have taught me the value of collaboration, effective problem-solving, and delivering results under pressure. <br> <br>
                    Now, I'm focused on turning complex ideas into simple, effective solutions as an aspiring data engineer.
                    Let's connect if you're working on something that pushes the envelope!
                </p>
                
            </div>
            <!-- Right Box -->
            <div class="z-0 flex flex-col justify-self-center my-[2vh] rounded-lg w-[50vw] sm:w-[30vw]">
                <div class="z-10 flex flex-row justify-center items-end align-content-center">
                    <div id="aboutPictureWrapper" class="flex justify-center items-center m-0 p-0 w-full h-full">
                        <img id="aboutPicture" src="/src/images/aboutPicture4.png" alt="Headshot picture of Joshua Mance" class="rounded-full w-[100%] w-max-[50vw] h-auto object-contain"> </img>
                    </div>
            </div>
        </div>
    </div>
</div>