<!--about section -->
<div id="aboutSection" class="flex flex-col justify-start bg-grey dark:bg-dark-base w-screen h-[100vh] text-black dark:text-dark-white">
            
    <!-- Title -->
    <div id="about-section-title" class="flex flex-col mt-[15vh] h-[20vh] font-semibold text-4xl text-center">
        About Me
    </div>

    <div class="flex flex-row justify-center items-center w-[100vw] h-[70vh]">
        <div class="flex flex-row justify-evenly items-center w-[90vw] h-[60vh]">
            <!-- Left box -->
            <div class="flex flex-col gap-4 bg-white p-[1vw] rounded-lg w-[50vw] h-[60vh] text-xl leading-6">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
                
            </div>
            <!-- Right Box -->
            <div class="flex flex-col bg-white rounded-lg w-[30vw] h-[60vh]">
                <img src="/src/images/headshotPicture.jpg" alt="Headshot picture of Joshua Mance" class="p-[1vw] rounded-lg w-full h-[90%] object-cover">
            </div>
        </div>
    </div>
</div>

<div class="divideCentre sectionDivider" style="--color: var(--grey);"> </div>