<!--about section -->
<div id="aboutSection" class="flex flex-col justify-start bg-white dark:bg-dark-base py-[10vh] sm:pt-[15vh] w-screen h-max text-primary dark:text-dark-white">
            
    <!-- Title -->
    <div id="about-section-title" class="flex flex-col justify-center mb-[5vh] w-full font-semibold text-3xl sm:text-4xl text-center">
        About Me
    </div>

    <div class="flex flex-row justify-center items-start w-[100vw] h-max text-black">

        <div class="flex sm:flex-row flex-col justify-between sm:justify-evenly items-center w-[90vw] h-max">

            <!-- Left box -->
            <div class="flex flex-col justify-around items-center opacity-0 my-[2vh] p-[1vw] rounded-lg w-[90vw] sm:w-[50vw] text-[3vh] leading-7 sm:leading-2 xl:leading-10 transition-all translate-x-[-40px] duration-700 ease-in-out fadeFromLeft">
                <p class="text-pretty hyphens-none">
                    I thrive on understanding how systems work — whether it's how data travels through a network or how algorithms solve complex problems. <br> <br>
                    I recently completed my BSc in Computer Science and Data Science from The University of Western Australia.
                    Along the way, I got involved in team-based competitive programming, volunteered with Coders for Causes and, in my final year, helped lead a team to create analysis software for Geoarchaeologists working in Esperance, WA. <br> <br>
                    Outside of my studies, I've honed my communication and leadership skills in customer service at Officeworks and as a senior tutor at NumberWorks'nWords. These experiences have taught me the value of collaboration, effective problem-solving, and delivering results under pressure. <br> <br>
                    Now, I'm focused on turning complex ideas into simple, effective solutions as an aspiring data engineer with proficiency in frontend web development.
                    Let's connect if you're working on something that pushes the envelope!
                </p>
                
            </div>
            <!-- Right Box -->
            <div class="flex flex-col justify-self-center my-[2vh] rounded-lg w-[50vw] sm:w-[30vw]">
                <div class="z-10 flex flex-row justify-center items-end align-content-center">
                    <div id="aboutPictureWrapper" class="flex justify-center items-center m-0 p-0 w-full h-full">
                        <img id="aboutPicture" src="/src/images/aboutPicture4.png" alt="Headshot picture of Joshua Mance" class="rounded-full w-[100%] w-max-[50vw] h-auto object-contain"> </img>
                    </div>
            </div>
        </div>
    </div>
</div>