<!-- Contact Section -->
<div class="flex flex-col justify-start items-center bg-white dark:bg-dark-middle w-[100vw] h-[80vh] text-black dark:text-dark-white">


    <!-- Title -->
    <h3 id="skills-section-title" class="flex flex-row justify-start bg-white dark:bg-dark-low py-[2vh] pt-[5vh] sm:pt-[10vh] w-full font-bold section-title">
        <div class="ml-[10vw] text-primary dark:text-white text-3xl sm:text-4xl text-start underlineDecoration whitespace-nowrap">
            Get in Touch
        </div>
    </h3>

    <!-- Contact Details -->
    <div class="flex sm:flex-row flex-col justify-between items-center mx-auto w-[80vw] max-w-5xl text-lg sm:text-lg md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-3xl">

        <div class="flex flex-col justify-start mb-6 sm:mb-0 w-full sm:w-[50%]">
            <p class="mb-4 text-lg sm:text-lg md:text-lg lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-3xl text-left sm:whitespace-pre-line">
                Got an interesting project or just want to connect? <br class="hidden sm:block"> Please feel free to reach out - I'd love to hear from you!
            </p>

            <div class="flex flex-col space-y-4">
                <a href="mailto:joshjmance@gmail.com" class="flex items-center gap-2 hover:text-primary">
                    <i class="text-primary bi-envelope-fill"></i> joshjmance@gmail.com
                </a>
                <a href="https://github.com/JoshMance" class="flex items-center gap-2 hover:text-primary">
                    <i class="text-primary bi bi-github"></i> GitHub
                </a>
                <a href="https://www.linkedin.com/in/joshua-mance/" class="flex items-center gap-2 hover:text-primary">
                    <i class="text-primary bi bi-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="flex justify-center items-center w-full sm:w-[45%] h-auto">
            <img src="/src/images/plane.png" class="mx-auto w-[80%] sm:w-[60%]" alt="plane image">
        </div>

    </div>

</div>
