 <!--contact section -->
 <div class="flex flex-col justify-start items-center bg-grey dark:bg-dark-middle w-screen h-[130vh] sm:h-[120vh] text-black dark:text-dark-white">
   
    <div class="divideCentre" style="--color: var(--white);"> </div>
   
    <!-- Title -->
    <div id="contact-section-title" class="flex flex-col justify-center mb-[1vh] h-[20vh] font-semibold text-4xl text-center">
        Get in Touch
    </div>

    <!-- Contianer for the contact form and contact details panels -->
    <div class= "flex sm:flex-row flex-col-reverse justify-evenly gap-[5vh] sm:gap-0 w-[90vw] sm:w-[75vw] h-[90vh] sm:h-[65vh] self-center">

        <!-- Contact form -->
        <div class= "flex flex-row justify-center items-center bg-white dark:bg-dark-upper shadow-medium simple-border rounded-md w-[90vw] sm:w-[35vw] h-[70vh]">
            <!-- Inner container -->
                <div  class= "flex flex-col gap-y-[5%] w-[90%] h-[90%]">

                        <div class="w-full h-[6%] font-bold text-2xl"> 
                            Contact Form
                        </div>

                        <div class="mb-4 w-full h-[8%] font-normal text-black leading-5"> 
                            Fill out the form below and I'll get back to you as soon as possible
                        </div>

                        <input type="text" id="name" class ="w-full h-[11%] simple-border rounded-md px-2 text-dark-grey bg-light-grey"
                                name="name" placeholder="Your Name" 
                                required minlength="2" maxlength="20" size="10" />

                        <input type="text" id="email" class ="w-full h-[11%] simple-border rounded-md px-2 text-dark-grey bg-light-grey" 
                                name="email" placeholder="Your Email" 
                                required minlength="2" maxlength="20" size="10" />

                        <textarea id="message" class ="w-full h-[30%] simple-border rounded-md px-2 text-justify text-dark-grey bg-light-grey" 
                                placeholder="Your Message">
                        </textarea>

                        <button class="bg-secondary rounded-md w-full h-[11%] font-semibold text-white"> 
                            Send Message
                        </button>
                </div>
        </div>

        <!-- Contact details -->
        <div class= "flex flex-row justify-center items-center bg-white dark:bg-dark-upper shadow-medium simple-border rounded-md w-[90vw] sm:w-[35vw] h-[70vh]">
            <!-- Inner container -->
                <div  class= "flex flex-col gap-y-[5%] w-[90%] h-[90%]"> 

                    <div class="w-full h-[6%] font-bold text-2xl"> 
                        Connect With Me
                    </div>

                    <div class="flex flex-col justify-center mb-4 w-full h-[20%] sm:h-[8%] font-normal text-black leading-5 align-middle"> 
                        Please feel free to email me, puruse my GitHub or reach out on LinkedIn
                    </div>
                    
                    <div class="flex flex-row gap-x-2 w-full h-[11%] text-xl hover:cursor-pointer"> 
                        <a href="#" class=""><i class="text-primary bi bi-envelope-fill"></i></a>
                            joshjmance@gmail.com 
                    </div>
                    <div class="flex flex-row gap-x-2 w-full h-[11%] text-xl hover:cursor-pointer"> 
                        <a href="https://github.com/JoshMance" class=""><i class="text-primary bi bi-github"></i></a> 
                            GitHub
                    </div>
                    <div class="flex flex-row gap-x-2 w-full h-[11%] text-xl hover:cursor-pointer"> 
                        <a href="https://www.linkedin.com/in/joshua-mance/" class=""><i class="text-primary bi bi-linkedin"></i></a>
                            LinkedIn
                    </div>

                </div>
        </div>
    
    </div>
    
</div>