<footer class="flex flex-col justify-around items-center bg-primary dark:bg-primary-dark w-screen h-[40vh] text-xl sm:text-2xl">


    <div class="inline sm:flex justify-center items-center gap-4 mt-[1rem] w-[80%] sm:w-full text-white leading-4 sm">
        <i> The function of good software is to make the complex appear to be simple.</i> - Grady Booch
    </div>
    
    <div class="flex flex-col justify-center items-center mt-[2rem] w-full">
        <div class="flex justify-center items-center mt-[2rem] w-full text-dark-grey">
            © 2025. All Rights Reserved.
        </div>
        <div class="flex justify-center items-center mt-[1rem] w-full text-white">
            Made with 💛 by Joshua Mance.
        </div>
    </div>

    
    


</footer>