<footer class="bg-primary text-white w-screen h-[50vh]">
        <!-- home button: returns user to the top of the page -->
        <div id="home-button" class="hidden fixed-div home-button flex flex-col items-center border-2 border-transparent hover:cursor-pointer hover:first:scale-110 ease-in duration-100">
            <i class="text-5xl text-accent m-0 font-bold bi bi-chevron-double-up"></i>
            <div class="text-xs text-accent">
                BACK TO TOP
            </div>
        </div>
</footer>