<footer class="flex flex-col justify-around items-center bg-primary dark:bg-dark-base w-screen h-[40vh] md:text-md text-sm sm:text-sm lg:text-lg text-pretty leading-6 hyphens-none">


    <div class="inline sm:flex justify-center items-center mt-[0.5rem] w-[80%] sm:w-full text-white leading-4 sm">
        <i> The function of good software is to make the complex appear to be simple </i> &nbsp; - Grady Booch
    </div>
    
    <div class="flex flex-col justify-center items-center mt-[2rem] w-full h-[3rem]">
        <div class="flex justify-center items-center mt-[0.1rem] w-full text-white">
            Made with 💛 by Josh
        </div>
        <div class="flex justify-center items-center mt-[0.1rem] w-full text-dark-grey">
            © 2025 Joshua Mance. All Rights Reserved.
        </div>
    </div>

    
    


</footer>