<div class= "flex flex-col justify-end justify-self-start items-end h-[80vh] sm:h-[90vh] text-white dark:text-dark-white background-image">

    <!-- banner container -->
    <div class="flex sm:flex-row flex-col justify-evenly justify-items-end sm:justify-stretch items-center sm:items-end sm:place-items-end sm:content-end w-[100vw] sm:w-[100vw] h-[80vh] sm:h-[60vh]">

        <!-- profile picture container -->
        <div id="profilePicture" class="flex-col justify-items-center sm:justify-center sm:items-center pt-[10vh] sm:pt-0 w-[100vw] sm:w-[38vw] sm:h-[60vh] sm:self-end">
            <img class="sm:justify-self-end border-2 border-white sm:border-0 rounded-full sm:rounded-sm w-[30vw] sm:w-auto h-full sm:self-end" src="/src/images/profile_picture.png" alt="Joshua Mance Profile Picture">
        </div>
        <!-- banner text container -->
            <div class="flex flex-col sm:pr-[10vw] w-[90vw] sm:w-[62vw] h-[20vh] sm:h-[55vh] self-center sm:self-end">
                <div class="hidden text-left text-lg sm:text-xl lg:text-lg xl:text-3xl 2xl:text-3xl leading-8 type-out"> *Hey there! 👋 * I'm _Josh_, a computer science graduate and lifelong learner who's _passionate_ about building on the _web!_</div> 
        </div> 


        <!-- profile picture container -->
        <!-- <div class="flex-col justify-center items-center w-[38vw] self-end">
            <img class="rounded-full sm:rounded-sm w-auto h-[62vh] self-end" src="/src/images/profile_picture.png" alt="Joshua Mance Profile Picture">
        </div> -->

        <!-- banner text container -->
         <!-- <div class="flex-row sm:flex-1 sm:pt-4 w-[50vw] h-[30vh] text-left text-lg text-white sm:text-xl lg:text-lg xl:text-3xl 2xl:text-3xl self-start">
                <div class="hidden type-out"> *Hi there! * I'm _Josh_, a computer science graduate and lifelong learner who's _passionate_ about building on the _web!_</div>
        </div>  -->
        
    </div>

    <div id="downArrow" class="absolute flex flex-row justify-center justify-items-center opacity-100 w-[100vw] h-[5vh] sm:h-[8vh] text-2xl sm:text-3xl lg:text-5xl animate-pulse"> 
        <i class="font-bold text-white animate-bounce bi bi-chevron-down"></i>
    </div> 
</div>