<div class= "flex justify-center items-end h-[75vh]">
    <!-- banner container -->
    <div class="flex sm:flex-row flex-col justify-center sm:content-end sm:gap-[1vw] w-[90vw] sm:w-[85vw] sm:h-[60vh]">

            <!-- profile picture container -->
            <div class="z-1 rounded-xl sm:rounded-none w-[70vw] sm:w-[27vw] aspect-square sm:profile-container">
                <!-- <div class="flex sm:hidden sketch-window">
                    <div class="sketch-dot-0"></div>
                    <div class="sketch-dot-1"></div>
                    <div class="sketch-dot-2"></div>
                    <div class="sketch-nav"></div>
                    <div class="sketch-hr"></div>

                </div>  -->
                <img class="lazy-load profile-picture" src="/src/images/profile_picture.png" alt="Joshua Mance Profile Picture">
            </div>

        <!-- banner text container -->
         <div class="sm:flex-1 sm:px-2 sm:pt-4 text-left text-lg text-white lg:text-lg xl:text-3xl 2xl:text-3xl">
                <div class="hidden pt-[5vh] type-out"> *Hi there! * I'm Josh, a Computer Science graduate and lifelong learner who's passionate about building on the web!</div>
        </div> 
        
    </div>


<!-- 
    <div class="flex flex-1 justify-center items-end sm:hidden pb-[3vh] text-3xl animate-pulse"> 
        <i class="bi bi-chevron-down"></i>
    </div> -->
</div>