<div id="desktop-menu" target="" class="z-999 flex flex-row justify-between items-center dark:shadow-none m-2 w-full max-w-screen-2xl navbar section-title">

    <!-- Brand -->
    <div id="brand" target = "homeSection" class="flex sm:justify-start items-center gap-[0.5rem] rtl:space-x-reverse ml-2 w-full sm:w-auto min-h-fit hover:cursor-pointer">
      <div class="flex flex-col justify-center items-center h-full object-contain aspect-square">
        <img id="logo" src="/src/images/OldLogo2.svg" alt="Logo" class="flex justify-center items-center h-fit object-contain aspect-square">
      </div>
      <div class="flex flex-col justify-center items-start h-full">
        <h1 id="brandname" class="flex items-start m-0 text-pretty align-top leading-none whitespace-nowrap">
          Joshua Mance
        </h1>
        <h2 id="tagline" class="flex items-end m-0 antialiased align-middle leading-none whitespace-nowrap ineline-span">
          Always Learning, Always Building
        </h2>
      </div>

    </div>

    <div class="flex flex-row">
      <!-- Hamburger menu button -->
      <button type="button"  id="hamburgerButton" class="sm:hidden flex flex-col justify-evenly mr-[2vw] border-0 w-[10vw] h-[90%] aspect-square" target = "hamburger-menu">
              <div id="topLine" class="block bg-white border-0 rounded-lg w-[75%] h-[3px] line"></div>
              <div id="middleLine" class="block bg-white border-0 rounded-lg w-[75%] h-[3px] line"></div>
              <div id="bottomLine" class="block bg-white border-0 rounded-lg w-[75%] h-[3px] line"></div>
      </button>
    </div>

    <!-- nav items desktop -->
    <div class="hidden z-10 sm:flex justify-start content-center mr-12 w-auto h-full overflow-x-auto font-normal custom-text-medium text-pretty" id="navButtons">
      <ul class="flex flex-row justify-evenly items-center self-center gap-12 rtl:space-x-reverse w-max h-fit font-normal text-lg sm:text-lg md:text-lg lg:text-lg 2xl:text-xl xl:text-xl 3xl:text-2xl text-pretty">
        <li id = "aboutNavButton" target = "aboutSection" class="flex flex-row justify-center items-center h-[3vh] hover:underline transition-transform translate-y-[-10vh] ease-out hover:cursor-pointer navButton">
            About
        </li>
        <li id = "projectsNavButton" target = "projectsSection" class="flex flex-row justify-center items-center h-[3vh] hover:underline transition-transform translate-y-[-10vh] ease-out hover:cursor-pointer hover navButton">
          Projects
        </li>
        <li id = "skillsNavButton" target = "skillsSection" class="flex flex-row justify-center items-center h-[3vh] hover:underline transition-transform translate-y-[-10vh] ease-out hover:cursor-pointer hover navButton">
          Skills
        </li>
        <li id = "contactNavButton" target = "contactSection" class="flex flex-row justify-center items-center h-[3vh] hover:underline transition-transform translate-y-[-10vh] ease-out hover:cursor-pointer navButton">
          Contact
        </li>

        <li id = "dark-mode-toggle" class="flex flex-row justify-center items-center rounded-full h-[3.5vh] text-accent text-center transition-transform translate-y-[-10vh] hover:cursor-pointer hover navButton">
          <i class="bi-brightness-high-fill bi"></i> 
      </li>


      </ul>
    </div>
</div>

<!-- hamburger nav menu (for use on phones) --> 
<div id="hamburger-menu" class="sm:hidden block top-2 right-0 z-50 fixed flex-col justify-between items-left bg-white opacity-0 shadow-medium mt-[8vh] mr-[2vw] p-4 rounded-md w-min font-normal text-black text-xl transition-all translate-x-[2vw] duration-300 ease-in-out">
  <ul>
    <li id = "homeHamburgerButton" target = "homeSection"  class="pb-2 navButton">
      Home
  </li>
    <li id = "aboutHamburgerButton" target = "aboutSection"  class="py-2 navButton">
      About
  </li>
  <li id = "projectsHamburgerButton" target = "projectsSection"  class="py-2 navButton">
      Projects
    </li>
    <li id = "skillsHamburgerButton" target = "skillsSection"  class="py-2 navButton">
        Skills
    </li>
    <li id = "contactHamburgerButton" target = "contactSection" class="py-2 navButton">
      Contact
    </li>
  </ul>
</div>





