<nav id="desktop-menu" class="align-bottom z-999 flex flex-row justify-between items-center dark:shadow-none mx-auto pl-4 max-w-screen-3xl h-min font-normal lg:text-md xl:text-lg navbar">

    <!-- Brand -->
    <div class="flex flex-row justify-center items-center rtl:space-x-reverse font-normal hover:cursor-pointer align-middle">
      
      <div id ="home" class="flex justify-center items-center">
        <img id="logo" src="/src/images/Logo.svg" alt="Logo" class="rounded-full w-11 h-11">
      </div>

      <div class="flex flex-col justify-center p-2">
        <span class="font-semibold text-lg lg:text-lg xl:text-2xl whitespace-nowrap">
          Joshua Mance
        </span>
        <span id="" class="font-normal text-pretty text-xs scrolled:text-accent xl:text-sm lg:text-md whitespace-nowrap">
          Always Learning, Always Building
        </span>
      </div>
    </div>

    <div class="flex flex-row">
      <!-- Hamburger menu button -->
      <button type="button"  id="hamburgerButton" class="flex flex-col justify-evenly border-0 sm:hidden mr-[2vw] w-[10vw] h-[90%] aspect-square" target = "hamburger-menu">
              <div id="topLine" class="block border-0 bg-white rounded-lg w-[75%] h-[3px] line"></div>
              <div id="middleLine" class="block border-0 bg-white rounded-lg w-[75%] h-[3px] line"></div>
              <div id="bottomLine" class="block border-0 bg-white rounded-lg w-[75%] h-[3px] line"></div>
      </button>
    </div>

    <!-- nav items desktop -->
    <div class="md:block z-10 content-center hidden mr-4 w-full md:w-auto h-[7vh] font-normal text-md" id="navButtons">
      <ul class="flex md:flex-row flex-col justify-items-center items-center gap-4 rtl:space-x-reverse pr-6 self-center">
        <li class="">
          <div id = "homeNavButton" target = "homeSection" class="flex flex-col px-3 h-[6vh] hover:cursor-pointer hover navButton">
            <div class="flex flex-row w-min h-full font-normal navButtonText">Home</div>
          </div>
        </li>
        <li class="">
          <div id = "aboutNavButton" target = "aboutSection" class="flex flex-col px-3 h-[6vh] hover:cursor-pointer hover navButton">
            <div class="flex flex-row w-min h-full font-normal navButtonText">About</div>
          </div>
        </li>
        <li class="">
          <div id = "projectsNavButton" target = "projectsSection" class="flex flex-col px-3 h-[6vh] hover:cursor-pointer hover navButton">
            <div class="flex flex-row w-min h-full font-normal navButtonText">Projects</div>
          </div>
        </li>
        <li class="">
          <div id = "skillsNavButton" target = "skillsSection" class="flex flex-col px-3 h-[6vh] hover:cursor-pointer hover navButton">
            <div class="flex flex-row w-min h-full font-normal navButtonText">Skills</div>
          </div>
        </li>
        <li class="">
          <div id="contactNavButton" target = "contactSection" class="flex flex-col px-3 h-[6vh] hover:cursor-pointer hover navButton">
            <div class="flex flex-row w-min h-full font-normal navButtonText">Contact</div>
          </div>
        </li>
        <li class="">
          <div class="flex flex-col justify-center items-center px-3 h-full hover:cursor-pointer hover"> 
            <a href="#" id="dark-mode-toggle" class="flex flex-row justify-center items-center w-min h-full text-3xl text-accent sm:text-2xl"><i class="bi-brightness-high-fill bi"></i></a>
          </div>
        </li>
      </ul>
    </div>



</nav>

<!-- nav items phone --> 
<nav id="hamburger-menu" class="top-0 right-0 z-50 fixed flex-col justify-between items-left hidden bg-white opacity-90 shadow-medium mt-[7vh] mr-[2vw] p-4 border-r-[6px] rounded-l-md w-min font-semibold text-primary text-xl">
  <div id = "homeHamburgerButton" target = "homeSection"  class="pb-2 navButton">
    Home
</div>
  <div id = "aboutHamburgerButton" target = "aboutSection"  class="py-2 navButton">
    About
</div>
<div id = "projectsHamburgerButton" target = "projectsSection"  class="py-2 navButton">
    Projects
  </div>
  <div id = "skillsHamburgerButton" target = "skillsSection"  class="py-2 navButton">
      Skills
  </div>
  <div id = "contactHamburgerButton" target = "contactSection" class="py-2 navButton">
    Contact
  </div>
</nav>





