<nav class="top-0 align-bottom sticky dark:shadow-none py-1 font-normal lg:text-md xl:text-lg navbar">
    <div class="flex justify-between items-start mx-auto pl-4 max-w-screen-3xl">
      <!-- Brand -->
      <div class="flex items-center space-x-2 rtl:space-x-reverse font-normal hover:cursor-pointer">
        <span id ="home" class="self-center"> 
          <img src="/src/images/Logo.svg" alt="Logo" class="-space-x-4 w-10 sm:w-12 h-10 sm:h-12"> 
        </span>

        <div class="flex flex-col -space-y-1">
          <span class="font-semibold text-lg lg:text-lg xl:text-2xl whitespace-nowrap"> 
            Joshua Mance
          </span>
          <span class="font-normal text-pretty text-xs xl:text-sm lg:text-md whitespace-nowrap"> 
            Always Learning, Always Building
          </span>
        </div>
      </div>
        
    <div class="flex flex-row">
      <!-- Hamburger menu button -->
      <button type="button"  id="hamburger-menu-button" class="sm:hidden mr-1 w-10 h-10 text-3xl" target = "hamburger-menu">
          <i class="bi bi-list"></i>
      </button>
  </div>

    <!-- nav items desktop -->
    <div class="md:block content-center hidden p-auto pr-4 w-full md:w-auto font-normal text-md" id="navButtons">
      <ul class="flex md:flex-row flex-col rtl:space-x-reverse md:border-0 md:mt-0 md:p-0 border align-center self-center">
        <li class="">
          <div id = "homeNavButton" target = "homeSection" class="block border-2 px-7 py-2 border-transparent rounded-md hover:cursor-pointer hover navButton">
            <div class="w-min">
              Home
            </div>
          </div>
        </li>
        <li class="">
          <div id = "skillsNavButton" target = "skillsSection" class="block border-2 px-7 py-2 border-transparent rounded-md hover:cursor-pointer hover navButton">
            <div class="w-min">
              Skills
            </div>
          </div>
        </li>
        <li class="">
          <div id = "projectsNavButton" target = "projectsSection" class="block border-2 px-7 py-2 border-transparent rounded-md hover:cursor-pointer hover navButton">
            <div class="w-min">
              Projects
            </div>
          </div>
        </li>
        <li class="">
          <div id="contactNavButton" target = "contactSection" class="block border-2 px-7 py-2 border-transparent rounded-md hover:cursor-pointer hover navButton">
            <div class="w-min">
              Contact
            </div>
          </div>
        </li>
        <li class="">
          <div class="block px-7 py-2 rounded-3xl hover:cursor-pointer hover hover:scale-110"> 
            <a href="#" id="dark-mode-toggle" class="block text-accent dark:text-accent-dull hover:cursor-pointer hover:scale-110"><i class="bi-brightness-high-fill bi"></i></a>
          </div>
        </li>
      </ul>
    </div>

  </div>

</nav>

      <!-- nav items phone --> 
      <nav id="hamburger-menu" class="top-12 sticky flex-col justify-start items-center hidden bg-primary px-2 w-auto text-white text-xl">
        <div id = "about-hamburger" class="py-2 origin-top">
            About
        </div>
        <div id = "projects-hamburger" class="py-2 origin-top">
          Projects
        </div>
        <div id = "contact-hamburger" class="py-2 origin-top">
          Contact
        </div>
        <a href="#" id="dark-mode-toggle-hamburger" class="block justify-end sm:hidden mr-1 pt-1.5 text-accent text-xl dark:text-accent-dull hover:cursor-pointer hover:scale-110"><i class="bi-brightness-high-fill bi"></i></a>
      </nav>





