<!--projects section -->
<div id="projectsSection" class="flex flex-col justify-start dark:bg-dark-base pb-[10vh] w-screen h-auto text-black dark:text-dark-white background-image">

    <!--projects section inner container-->
    <div class="flex flex-col justify-start items-center w-[100vw] h-auto">

        <div class="divideCentre" style="--color: var(--white);"> </div>

        <!-- Title -->
        <div id="about-section-title" class="flex flex-col justify-center my-[8vh] w-full font-semibold text-white text-3xl sm:text-4xl text-center">
            My Projects
        </div>

        <!-- Project info boxes-->
        <div class="flex flex-col justify-between sm:justify-evenly sm:justify-items-stretch items-center gap-y-10 sm:grid sm:grid-cols-3 w-[90vw] h-auto">



            <!-- SediVis -->
            <div class="group relative flex flex-wrap bg-white dark:bg-dark-upper shadow-light dark:shadow-none p-2 rounded-lg w-[80vw] sm:w-[28vw] h-[60vh] transition-transform duration-300 hover:cursor-pointer projectBox">

                <!-- Inner container -->
                <div class="flex flex-col grayscaleFilter rounded-sm w-full h-full">

                    <div class="bg-[url(/src/images/SediVis.png)] bg-cover bg-center h-[50%]"></div>

                    <div class="flex flex-col justify-between h-[50%]">
                        <div class="flex flex-col justify-evenly h-[80%]">
                            <div class="mt-[1rem] mb-[0.5rem] font-bold text-xl">
                                SediVis
                            </div>
                            <div class="h-full text-md leading-4">
                                I helped lead an agile-based team to develop software for geoarchaeologists analyzing sediment cores in Esperance, Western Australia.
                                <br>
                                I later spearheaded the transition to a new framework, improving the product's robustness and efficiency.
                            </div>
                        </div>
                        <div class="flex flex-row gap-1 w-full h-[20%]">
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> Computer Vision </span>
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> Data Processing </span>
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> UI Design </span>
                        </div>
                    </div>

                </div>
            </div>


            <!-- RepairLabs -->
            <div class="group relative flex flex-wrap bg-white dark:bg-dark-upper shadow-light dark:shadow-none p-2 rounded-lg w-[80vw] sm:w-[28vw] h-[60vh] transition-transform duration-300 hover:cursor-pointer projectBox">

                <!-- Inner container -->
                <div class="flex flex-col grayscaleFilter rounded-sm w-full h-full">

                    <div class="bg-[url(/src/images/RepairLab.png)] bg-cover bg-center h-[50%]"></div>

                    <div class="flex flex-col justify-between h-[50%]">
                        <div class="flex flex-col justify-evenly h-[80%]">
                            <div class="mt-[1rem] mb-[0.5rem] font-bold text-xl">
                                Repair Lab
                            </div>
                            <div class="h-full text-md leading-4">
                                I worked in a Coders for Causes team to develop a website for a Perth-based non-profit that repairs household items.
                            </div>
                        </div>
                        <div class="flex flex-row gap-1 w-full h-[20%]">
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> REST API Handling  </span>
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> UI Design </span>
                        </div>
                    </div>

                </div>
            </div>


    

            <!-- Finaincal Planning Charts -->
            <div class="group relative flex flex-wrap bg-white dark:bg-dark-upper shadow-light dark:shadow-none p-2 rounded-lg w-[80vw] sm:w-[28vw] h-[60vh] transition-transform duration-300 hover:cursor-pointer projectBox">

                <!-- Inner container -->
                <div class="flex flex-col grayscaleFilter rounded-sm w-full h-full">

                    <div class="bg-[url(/src/images/ThroughlifeBackground.jpg)] bg-cover bg-center h-[50%]"></div>

                    <div class="flex flex-col justify-between h-[50%]">
                        <div class="flex flex-col justify-evenly h-[80%]">
                            <div class="mt-[1rem] mb-[0.5rem] font-bold text-xl">
                                Financial Planning Charts
                            </div>
                            <div class="h-full text-md leading-4">
                                I worked for Thoughlife Financial Solutions to create software that visualizes their clients' financial projections.
                            </div>
                        </div>
                        <div class="flex flex-row gap-1 w-full h-[20%]">
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> Data Cleaning </span>
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs"> Data Visualisation </span>
                        </div>
                    </div>

                </div>
            </div>


    

            <!-- Simple Multiplayer Game -->
            <div class="group relative flex flex-wrap bg-white dark:bg-dark-upper shadow-light dark:shadow-none p-2 rounded-lg w-[80vw] sm:w-[28vw] h-[60vh] transition-transform duration-300 hover:cursor-pointer projectBox">

                <!-- Inner container -->
                <div class="flex flex-col grayscaleFilter rounded-sm w-full h-full">

                    <div class="bg-[url(/src/images/ThroughlifeBackground.jpg)] bg-cover bg-center h-[50%]"></div>

                    <div class="flex flex-col justify-between h-[50%]">
                        <div class="flex flex-col justify-evenly h-[80%]">
                            <div class="mt-[1rem] mb-[0.5rem] font-bold text-xl">
                                Online Multiplayer Game
                            </div>
                            <div class="h-full text-md leading-4">
                                I'm creating a fun, rogue-like online multiplayer game.
                            </div>
                        </div>
                        <div class="flex flex-row gap-1 w-full h-[20%]">
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs whitespace-nowrap"> Game Design </span>
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs whitespace-nowrap"> API Development </span>
                            <span class="inline-flex items-center bg-secondary px-[0.6em] rounded-r-xl rounded-l-xl h-[2em] font-semibold text-white text-xs whitespace-nowrap"> Server Design </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


