<!--projects section -->
<div class="inset-shadow flex flex-wrap justify-evenly bg-grey w-screen h-screen text-black">

    <!--projects section inner container-->
    <div class="flex flex-col py-[8vh] w-[90vw] h-auto section">
         
        <!-- Title -->
         <div class="mb-[10vh] py-0 font-semibold text-4xl text-center">
            My Projects
         </div>

            <!-- Project info boxes-->
            <div class="gap-7 grid grid-cols-3">
                
                
                <div class="flex flex-row flex-wrap justify-center gap-2 w-[90vw] self-center">
  
                    <div class="flex flex-wrap bg-white shadow-light rounded-lg w-[25vw] h-[40vh] hover:cursor-pointer">
                        <!-- Top half -->
                        <div class="bg-white bg-contain bg-no-repeat bg-center m-2 rounded-sm w-full h-[62%]"> 
                
                        </div>
                        <!-- Bottom half -->
                        <div class="flex justify-center items-center rounded-b-lg w-full h-[38%]"> 
                            <!-- Inner container -->
                            <div class="flex flex-col w-[95%] h-[70%]">
                                <!-- Title -->
                                <div class="pb-2 font-semibold"> 
                                    SediVis
                                </div>
                                <!-- Blurb -->
                                <div class="leading-4"> 
                                    Software that analysizes vertical sediment cores for geoarchelogy.
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="flex flex-wrap bg-primary w-[25vw] h-[30vh]">
                    </div>
                
                    <div class="flex flex-wrap bg-primary w-[25vw] h-[30vh]">
                    </div>
                
                    <div class="flex flex-wrap bg-primary w-[25vw] h-[30vh]">
                    </div>
                
                    <div class="flex flex-wrap bg-primary w-[25vw] h-[30vh]">
                    </div>
                
                    <div class="flex flex-wrap bg-primary w-[25vw] h-[30vh]">
                    </div>
                
                
                
                
                </div>
            </div>
    </div>
</div>