<div class="flex flex-col justify-start justify-items-start items-center bg-white dark:bg-dark-base w-screen h-auto text-black dark:text-dark-white align-middle">
    

    <!-- Title -->
        <div id="about-section-title" class="flex flex-col justify-center my-[5vh] w-full font-semibold text-primary text-3xl sm:text-4xl text-center">
            My Skills
        </div>

    <!-- Software Development -->
    <div class="flex flex-col justify-start sm:justify-between items-center w-[90vw] h-auto">
        
        <div class="flex flex-row justify-center sm:justify-start items-end py-[2vh] w-[90vw] h-auto font-semibold text-xl lg:text-2xl align-middle">
            Software Development
        </div>

        <div class="flex sm:flex-row flex-col-reverse justify-center sm:justify-end items-start my-[1vh] w-[80vw] sm:w-[80vw] h-auto">
            
            <div class="flex flex-col justify-items-end my-[2vh] w-[80vw] sm:w-[55vw] transition-all sm:translate-x-[-40px] duration-700 ease-in-out sm:fadeFromLeft">
                <ul class="flex flex-col gap-6 dark:bg-dark-lower w-[80vw] sm:w-[55vw] text-lg sm:text-xl text-pretty leading-8 list-inside skills-list">
                    <li class="leading-8 tick">Designing and analyzing algorithms is one of my passions. I'm fascinated with discovering ways to improve the efficiency of applications.  </li>
                    <li class="leading-8 tick">I'm proficient with a wide range of programing languages, and have extensive experience using the Git/GitHub version control system.</li>
                    <li class="leading-8 tick">I have experience working in teams to plan and manage software projects. </li>
                    <li class="leading-8 tick"> During my undergrad, I achieved distinction-level grades in the units 'Data Structures and Algorithms' and 'High Performance Computing.'</li>
                </ul>
            </div>

            <div class="flex-grid place-content-start gap-4 sm:gap-x-4 grid grid-rows-1 sm:grid-rows-3 grid-flow-col my-[5vh] sm:pl-[2vw] w-[90vw] sm:w-[30vw] sm:h-[50vh] overflow-hidden overflow-x-hidden transition-all sm:translate-x-[-40px] duration-700 ease-in-out sm:fadeFromLeft icons-panel">
                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="coding-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Python</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="coding-icon-2" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">C</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="coding-icon-3" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Java</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="coding-icon-4" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/visualbasic/visualbasic-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm text-nowrap">Visual Basic</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="coding-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/r/r-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">R</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-8" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="/src/images/OpenMP_logo.png" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">OpenMP</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-8" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="/src/images/open-mpi-logo.png" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">MPI</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-3" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">JavaScript</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-4" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">TypeScript</span>
                </div>
            </div>

          
        </div>
    </div>

    <div class="bg-white dark:bg-dark-low divideRight" style="--color: var(--secondary);"> </div>

    <!-- Frontend Web Development -->
    <div class="flex flex-col justify-start sm:justify-between items-center bg-secondary dark:bg-dark-middle w-[100vw] h-max text-white background-image">
        <div class="flex flex-row justify-center items-end py-[2vh] w-[100vw] h-auto font-semibold text-xl lg:text-2xl align-middle">
            Building on the Web
        </div>
        <div class="flex sm:flex-row flex-col justify-center sm:justify-evenly items-center py-[2vh] w-[90vw] sm:w-[90vw] h-auto">
           
            <div class="flex-grid place-content-start gap-4 sm:gap-x-4 grid grid-rows-1 sm:grid-rows-3 grid-flow-col my-[1vh] sm:pl-[2vw] w-[90vw] sm:w-[30vw] sm:h-[50vh] overflow-hidden overflow-x-hidden transition-all sm:translate-x-[40px] duration-700 ease-in-out sm:fadeFromRight icons-panel">
               
                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">HTML</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-2" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">CSS</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-3" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">JavaScript</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-4" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">TypeScript</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-5" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">React</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-6" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Figma</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-7" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Tailwind</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-8" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="/src/images/WebGL.png" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">WebGL</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-white shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-8" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/illustrator/illustrator-plain.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Illustrator</span>
                </div>
            </div>

            <div class="flex flex-col justify-items-end w-[80vw] sm:w-[55vw] transition-all sm:translate-x-[-40px] duration-700 ease-in-out sm:fadeFromLeft">
                <ul class="flex flex-col gap-6 dark:bg-dark-lower w-[80vw] sm:w-[55vw] h-max text-xl sm:text-2xl text-pretty leading-8 list-inside skills-list">
                    <li class="tick">I'm passionate about using graphic design to create intuitive and engaging user interfaces. </li>
                    <li class="tick">I'm also fascinated by the cognitive science behind user behavior and how it shapes the user experience. </li>
                    <li class="tick">With a strong foundation in HTML, CSS, and JavaScript, I've worked with frameworks like React.js, Tailwind CSS, and PyQt to bring these concepts to life. </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg-secondary divideRight flipped" style="--color: var(--white);"> </div>

    <!-- Backend Web Development -->
    <div class="flex flex-col justify-start sm:justify-between items-center w-[90vw] h-auto">
        <div class="flex flex-row justify-center sm:justify-start items-end py-[2vh] w-[90vw] h-auto font-semibold text-xl lg:text-2xl align-middle">
            Communcation
        </div>
        <div class="flex sm:flex-row flex-col-reverse justify-center sm:justify-end items-start my-[1vh] w-[80vw] sm:w-[80vw] h-auto">
            <div class="flex flex-col justify-items-end my-[2vh] w-[80vw] sm:w-[55vw] transition-all sm:translate-x-[-40px] duration-700 ease-in-out sm:fadeFromLeft">
                <ul class="flex flex-col gap-6 dark:bg-dark-lower w-[80vw] sm:w-[55vw] text-xl sm:text-2xl text-pretty leading-8 list-inside skills-list">
                    <li class="leading-8 tick">I'm fascinated with data engineering, and have a solid foundation in SQL, Neo4j's Cypher, and database/data warehouse design. </li>
                    <li class="leading-8 tick">I've also developed a strong understanding of computer networking and REST API structures. </li>
                    <li class="leading-8 tick">I'm eager to apply my knowledge to real-world challenges and continue learning new tools and techniques.</li>
                </ul>
            </div>

            <div class="flex-wrap place-content-center gap-x-4 grid grid-rows-1 sm:grid-rows-3 grid-flow-col py-[2vh] sm:pl-[2vw] sm:w-[30vw] overflow-x-hidden transition-all sm:translate-x-[40px] duration-700 ease-in-out sm:fadeFromRight icons-panel">
                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">SQL</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Django</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/neo4j/neo4j-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Neo4j</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">Node.js</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm text-nowrap">MongoDB</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm">PostgreSQL</span>
                </div>

                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm text-nowrap">Linux OS</span>
                </div>


                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm text-nowrap">Flask</span>
                </div>


                <div class="flex flex-col justify-center items-center bg-white dark:bg-dark-lower shadow-medium p-4 rounded-sm w-[15vw] sm:w-[6vw] h-[15vw] sm:h-[6vw] text-black transition-transform sm:hover:translate-y-[-5px] duration-400">
                    <img id="webdev-icon-1" class="w-[30vw] sm:w-[4vw] h-[30vw] sm:h-[4vw] object-contain" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg" loading="lazy"/>
                    <span class="mt-1 font-semibold text-xs sm:text-sm text-nowrap">Bash</span>
                </div>

            </div>
        </div>
    </div>
</div>
