<div class="flex flex-col">
        
    <!-- skills section -->
    <div class="flex flex-col items-center bg-white dark:bg-primary-dark w-screen h-[100vh] text-black align-middle">
        
        <!-- Title -->
        <div id="skills-section-title" class="flex flex-col justify-center items-center px-[10vw] pt-[5vh] sm:pt-[10vh] pb-[5vh] w-full font-semibold text-2xl text-center sm:text-4xl">
            My Skills
        </div>

        <!-- <div class="flex flex-col sm:pb-[8vh] w-[80vw] text-pretty sm:text-xl"> 
            I love learning, especially when it comes to front-end web development and tackling challenges in algorithms and efficiency.
        </div> -->

        <div class="flex flex-col items-center rounded-2xl rounded-t-lg w-[90vw] section">

            <!-- Skills button panel -->
            <div id="skills-buttons" class="flex flex-row justify-items-stretch items-center sm:gap-6 border-secondary mb-[2vh] pb-2 border-b-[3px] w-[90vw] h-[5vh] sm:h-[7vh] font-medium text-center text-nowrap text-xs sm:text-xl">
                
                <button class="z-10 px-[12px] py-2 rounded-lg w-fit h-[auto] text-white hover:cursor-pointer btn skills-btn"
                    id = "skills-button-1" target="skills-text-1">Web Dev</button>

                <button class="z-10 px-[12px] py-2 rounded-lg w-fit h-auto text-black hover:cursor-pointer btn skills-btn"
                    id = "skills-button-2" target="skills-text-2">Efficient Coding</button>

                <button class="z-10 px-[12px] py-2 rounded-lg w-fit h-auto text-black hover:cursor-pointer btn skills-btn"
                    id = "skills-button-3" target="skills-text-3">Communication</button>
            </div>

            <div class="flex justify-start w-[90vw] h-max text-left text-xs sm:text-xl lg:text-2xl overflow-hidden">

                <div id="skills-text-1" class="flex flex-wrap h-max overflow-hidden skills-text">

                    <span>I am fascinated by how the the web works and have experience with a range of both frontend and backend technologies. </span>

                    <span>I am very comfortable with HTML and CSS, and take a (personal?) interest in understanding everything I can about JavaScript. </span>

                    In late 2023, I helped develop a website for the Perth-based nonprofit RepairLab using React, TailwindCSS and Typescript.
                    My profesional computing group project helped me gain experience deisigning graphical user interfaces (GUIs) in a project with
                    a client giving feedback.
                    My second major of Data Science allowed me to develop compitence in designing databases and datawarehouses, and in hosting them.

                </div>

                <div id="skills-text-2" class="flex flex-wrap h-max text-left overflow-hidden skills-text">

                    Desiging algorithms is a perosnal passion.
                    During my studies, I was a part of competive programing teams which involded working collaberativy to desigh/apply algrothirms to solve novel problems.
                    I am fascated with dsiscovering ways to improve the efficency of the applications I create.
                    I have profeincy with a range of programming languages including Python, C, Java, SQL, R, Visual Basic and JavaScript.
                </div>

                <div id="skills-text-3" class="flex flex-wrap h-max text-left overflow-hidden skills-text">
                    
                    My communication skills are critical to who I am as a developer.
                    I have worked in the tech department of my local Officeworks.
                    I love working with customers to understand their needs and explain how technology works.
                    In my 1 year, I have been given multiple awards for excellent customer service.

                    Capstone project - talking with client. simple, easy, proffesional.
                    I enjoy scietiific report writing, and have experience writing reports using LaTeX.
                    5 years tutoring. Communcating skills.
                    I create educational martirials on everyting from lingustics to chemsitry.
                    In my first year, I took electives in Marketing and Consumer behavour, achieivng distinctions for both.
                    
                </div>

                
                
            </div> 


            
        </div>
    </div>
</div>
