@tailwind base;
@tailwind components;
@tailwind utilities;

/* div {border: 1px solid #ff0000 !important;}  */

@font-face {
    font-family: outfitExtraLight;
    src: url(/src/fonts/outfit/OutfitExtraLight.ttf);
}

@font-face {
    font-family: outfitLight;
    src: url(/src/fonts/outfit/OutfitLight.ttf);
}

@font-face {
    font-family: outfitMedium;
    src: url(/src/fonts/outfit/OutfitMedium.ttf);
}
@font-face {
    font-family: outfitRegular;
    src: url(/src/fonts/outfit/OutfitRegular.ttf);
}
@font-face {
    font-family: outfitSemibold;
    src: url(/src/fonts/outfit/OutfitSemiBold.ttf);
}

@font-face {
    font-family: extraBold;
    src: url(/src/fonts/outfit/OutfitVariableFont_wght1.ttf);
    font-weight: 999;
}

@font-face {
    font-family: outfitVariable;
    src: url(/src/fonts/outfit/OutfitVariableFont_wght1.ttf);
    font-weight: 100;
}

:root {
    --primary:theme("colors.primary");
    --secondary:theme("colors.secondary");
    --accent:theme("colors.accent");
    --black:theme("colors.black");
    --white:theme("colors.white");
    --grey:theme("colors.grey");

    --secondary-dark:theme("colors.primary-dark");
    --secondary-dark:theme("colors.secondary-dark");
    --accent-dark:theme("colors.accent-dark");

    line-height: 10px;
    font-family: outfitVariable;

    overflow-x: hidden;
    width: 100%;
    position: relative;
    
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var("--accent");
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingScreen > img {
    position: absolute;
    top: 45vh;
    left: 45vw;
    width: 10vw;
    height: 10vh;
    background-color: var("--accent");
    -webkit-animation:spin 0.7s linear infinite;
    -moz-animation:spin 0.7s linear infinite;
    animation:spin 0.7s linear infinite;
}



#logo:hover {
    -webkit-animation:spin 2s forwards;
    -moz-animation:spin 2s forwards;
    animation:spin 2s forwards;
}

#logo.animating  {
    -webkit-animation:spin 2s forwards;
    -moz-animation:spin 2s forwards;
    animation:spin 2s forwards;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}



.background-image {
    background-image: url("/src/images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#navbar {
    transition: ease-out 0.4s;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    color: var(--white);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}

#navbar.scrolled {
    height: 10vh;
    background-color: #ffffff;
    color: var(--black);
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}


.shadow-low {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadow-medium {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
