@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/br-shape');


/* div {border: 1px solid #000000 !important;}  */


.home {
    background-image: url('/src/images/bg.jpg');
    background-size: contain;
}


.fixed-div {
    position: fixed; 
    bottom: 50px; 
    right: 20px; 
    z-index: 1000; 
}

.scrolled {
    color: #fdfbfb;
    background-color: #105893;
    transition: linear 0.2s;
    &.dark {
        color: #fdfbfb;
        background-color: #0e4c9e;
        transition: linear 0.2s;

    }
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tab-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
}

