@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {border: 0.5px solid #ff0000 ;} */


@font-face {
    font-family: outfitExtraLight;
    src: url(/src/fonts/outfit/OutfitExtraLight.ttf);
}

@font-face {
    font-family: outfitLight;
    src: url(/src/fonts/outfit/OutfitLight.ttf);
}

@font-face {
    font-family: outfitMedium;
    src: url(/src/fonts/outfit/OutfitMedium.ttf);
}
@font-face {
    font-family: outfitRegular;
    src: url(/src/fonts/outfit/OutfitRegular.ttf);
}
@font-face {
    font-family: outfitSemibold;
    src: url(/src/fonts/outfit/OutfitSemiBold.ttf);
}

@font-face {
    font-family: extraBold;
    src: url(/src/fonts/outfit/OutfitVariableFont_wght1.ttf);
    font-weight: 999;
}

@font-face {
    font-family: outfitVariable;
    src: url(/src/fonts/outfit/OutfitVariableFont_wght1.ttf);
    font-weight: 100;
}

:root {
    --vh: 100%;
    
    --primary:theme("colors.primary");
    --secondary:theme("colors.secondary");
    --accent:theme("colors.accent");
    --black:theme("colors.black");
    --white:theme("colors.white");
    --grey:theme("colors.grey");
    --dark-white:theme("colors.dark-white");
    --dark-base:theme("colors.dark-base");
    --dark-low:theme("colors.dark-low");

    --primary-dark:theme("colors.primary-dark");
    --secondary-dark:theme("colors.secondary-dark");
    --accent-dark:theme("colors.accent-dark");

    line-height: 10px;
    font-family: outfitVariable;
    letter-spacing: 0.005em;

    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}




/* Brandname */
h1 {
    font-size: clamp(1.7rem, 2rem, 2.3rem);
    font-weight: 600;
}

/* Tagline */
h2 {
    font-size: clamp(0.7rem, 0.9rem, 1.1rem);
    font-weight: 350;
}

.underlineDecoration {
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
}

.underlineDecoration::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 7vh;
    height: 4px;
    background-color: var(--accent);
}

.outlineBorder {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.background {
    position: fixed !important; 
    background-attachment: local !important;
}

@media (max-width: 768px) {
    body {
        height: 100vh; /* Setting the body height to the viewport height */
    }
    #backgroundBlue, #backgroundRed {
        height: calc(var(--vh, 1vh) * 100); /* Ensuring that fixed elements take the full viewport height */
    }
}


.fadeIn {
animation: fadeIn 0.5s ease-in forwards;
-webkit-animation: fadeIn 0.5s ease-in forwards;
}

.fadeInFast {
    animation: fadeIn 0.3s ease-in forwards;
    -webkit-animation: fadeIn 0.3s ease-in forwards;
}

.fadeInSlow {
    animation: fadeIn 1s ease-in forwards;
    -webkit-animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0.25;
    }
    to {
      opacity: 1;
    }
  }



button:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

#loadingScreen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingScreen img {
    width: 10vh;
    aspect-ratio: 1;
    -webkit-animation:spin 1s infinite;
    -moz-animation:spin 1s infinite;
    animation:spin 1s infinite;
}


#logo {
    touch-action: manipulation;
    height: clamp(2rem, 3rem, 5rem);
}

#logo:hover {
    -webkit-animation:spin 1s forwards;
    -moz-animation:spin 1s forwards;
    animation:spin 1s forwards;
}

#logo.animating  {
    -webkit-animation:spin 1s forwards;
    -moz-animation:spin 1s forwards;
    animation:spin 1s forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        -o-transform: rotate(720deg);
    }
}




#homeSectionContent {
    position: relative;
    overflow: hidden;
}

@media (max-width: 639px) {
    #homeSectionContent::before {
        content: "";
        position: absolute;
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}

#homeSectionContent::before {
    content: "";
    position: absolute;
    background-image: url("/src/images/OldBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.dark #homeSectionContent::before {
    filter: brightness(50%) grayscale(20%);
    -webkit-filter: brightness(50%) grayscale(20%);
}

#projectsSection {
    background: transparent;
}

#backgroundBlue {
    background-image: url("/src/images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.dark #backgroundBlue {
    filter: brightness(50%) grayscale(20%);
    -webkit-filter: brightness(50%) grayscale(20%);
}

@media (max-width:  639px) {
    #background.blue {
        background-image: url("/src/images/background-mobile.jpg");
    }
}

#backgroundRed {
    background-image: url("/src/images/skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.dark #backgroundRed {
    filter: brightness(50%) grayscale(20%);
    -webkit-filter: brightness(50%) grayscale(20%);
}


#resumeBanner {
    z-index: 0;

    /* background-image: url("/src/images/skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}


navbar {
    height: clamp(5vh, 6vh, 7vh);
}


@media (max-width: 639px) {
    #navbar {
        letter-spacing: 0.025em;
        position: fixed;
        padding: 0px;
        margin: 0px;
        color: var(--black);
        background-color: var(--white);
    }
    #navbar #brandname {
        color: var(--primary);
    }

    #hamburgerButton  * {
        background-color: var(--primary);
    }
}


@media (min-width: 640px) {
    #navbar {
        transition: ease-out 0.25s;
        position: fixed;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        margin-top: 0vh;
        background-color: #ffffff00;
        z-index: 999;
        color: var(--white);
        -webkit-transition: ease-out 0.25s;
        -moz-transition: ease-out 0.25s;
        -ms-transition: ease-out 0.25s;
        -o-transition: ease-out 0.25s;
    }

    #navbar.scrolled {
        background-color: var(--white);
        transition-property: 'background-color';
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ; 
        transition-duration: 500ms;
    }

    #navbar.scrolled h1 {
        color: var(--primary);
        transition-property: 'color';
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ; 
        transition-duration: 500ms;
    }

    #navbar.scrolled.dark h1 {
        color: var(--white);
        transition-property: 'color';
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ; 
        transition-duration: 500ms;
    }

    #navbar.scrolled h2, #navbar.scrolled li:not(:last-child) {
        color: var(--black);
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        transition-duration: 500ms;
    }

    #navbar.scrolled.dark h2, #navbar.scrolled.dark li:not(:last-child) {
        color: var(--white);
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        transition-duration: 500ms;
    }


}

#navbar.scrolled.dark {
    background-color: var(--dark-base);
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}

#scrollToTop {
    --angle: 0deg;
    background: conic-gradient(
         var(--accent) 0deg var(--angle),
       var(--white) var(--angle) 360deg
       );
}



#dark-mode-toggle {
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
}

#dark-mode-toggle.active {
    opacity: 50%;
}

#hamburgerButton {
    touch-action: manipulation;
}

#hamburger-menu {
    touch-action: manipulation;
}

#hamburger-menu:active {
    touch-action: manipulation;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#hamburgerButton .line {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#hamburgerButton.open #topLine {
    transform-origin: right;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


#hamburgerButton.open #middleLine {
    opacity: 0;
}

#hamburgerButton.open #bottomLine {
    transform-origin: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


.navButton.active {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 3px;
    -moz-text-decoration-color: var(--accent);
}




#aboutPictureWrapper {
    position: relative;
    z-index: 0;
}

#aboutPictureWrapper::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -3;
    width:  50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(#ffe135, var(--accent));
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



#scrollDown {
    position: sticky;
    z-index: 0;
}




.shadow-light {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.shadow-even {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 3px 1px;
}

.shadow-low {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadow-medium {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shadow-high {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tick {
    list-style-image: url("/src/images/tick.svg");
  }



.divideCentre {
    display:block;
    position: relative;
    width: 10vw;
    height: 10vh;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 8vw solid var(--color);
    transform: rotate(180deg) translate(00vw, 1vh);
    -webkit-transform: rotate(180deg) translate(00vw, 1vh);
    -moz-transform: rotate(180deg) translate(00vw, 1vh);
    -ms-transform: rotate(180deg) translate(00vw, 1vh);
    -o-transform: rotate(180deg) translate(00vw, 1vh);
}

body.dark .divideCentre {
    border-bottom-color: var(--dark-low);

}

.divideAboutSection {
    display:block;
    position: relative;
    width: 10vw;
    height: 10vh;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-bottom: 8vw solid var(--color);
    transform: rotate(180deg) translate(00vw, 1vh);
    -webkit-transform: rotate(180deg) translate(00vw, 1vh);
    -moz-transform: rotate(180deg) translate(00vw, 1vh);
    -ms-transform: rotate(180deg) translate(00vw, 1vh);
    -o-transform: rotate(180deg) translate(00vw, 1vh);
}

.divideRight {
    z-index: 10;
    left: 0;
    width: 100vw;
    height: 10vh;
    border-left: 100vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 15vh solid var(--color);
}

@media (max-width: 768px) {
    .divideCentre {
        height: 10vh;
        border-left-width: 20vw;
        border-right-width: 20vw;
        border-bottom-width: 12vw;
    }
    .divideRight {
        border-bottom: 5vh solid var(--color);
    }
}

@media (min-width: 769px) {
    .divideCentre {
        height: 10vh;
        border-left-width: 10vw;
        border-right-width: 10vw;
        border-bottom-width: 4vw;
    }
    .divideRight {
        border-bottom: 15vh solid var(--color);
    }
}

.flipped {
    transform: rotateY(180deg);
}



.grayscaleFilter  {
    position: relative;
    overflow: hidden;
}

    
  .grayscaleFilter::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
    z-index: 0;
    -webkit-transition: filter 0.2s ease-in-out;
    -moz-transition: filter 0.2s ease-in-out;
    -ms-transition: filter 0.2s ease-in-out;
    -o-transition: filter 0.2s ease-in-out;
}

.grayscaleFilter:hover::before {
    filter: grayscale(0%);
  }