body {
  background: linear-gradient(-20deg, #5888D5 0%, #2458D2 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


