body {
  background: linear-gradient(to top, #48c6ef 0%, #48c6ef 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


