body {
  background: linear-gradient(-225deg, #222768 0%, #222768 50%, #222768 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


