body {
  background: linear-gradient(-20deg, #3F5373 0%, #143F83 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


