body {
  background: linear-gradient(-225deg, #221C86 0%, #221C86 50%, #221C86 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


