body {
  background: linear-gradient(-20deg, #9BD558 0%, #24A9D2 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


