:root {
    --primary-colour:          #1E90FF;
    --secondary-colour:        #FFFFFF;
    --background-colour:       #121212;
    --muted-background-colour: #37474F;
    --accent-colour:           #00BCD4; 

}

body {
    background-image: url('./noisy_net.webp');
}

.mx-0 {
    padding-left: 20px !important;
    padding-right: ($spacer * .5) !important;
}

.navbar {
    color: var(--secondary-colour) !important;
}