body {
  background: linear-gradient(120deg, #0C2CB8 0%, #182E52 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


