body {
  background: linear-gradient(-20deg, #589BD5 0%, #10397C 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


