body {
  background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


