:root {
    --primary-colour:          #1E90FF;
    --secondary-colour:        #FFFFFF;
    --background-colour:       #121212;
    --muted-background-colour: #37474F;
    --accent-colour:           #00BCD4; 

}

body {
    background-color: var(--background-colour) !important;
}

.navbar {
    color: var(--accent-colour) !important;
    background-image: url('./noisy_net.webp');
}