body {
  background: linear-gradient(-225deg, #150DAD 0%, #150DAD 50%, #150DAD 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


