body {
  background: linear-gradient(-225deg, #100A84 0%, #100A8450%, #100A84 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


