body {
  background: linear-gradient(-20deg, #A158D5 0%, #2427D2 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


