body {
  background: linear-gradient(-225deg, #0D1061 0%, #0D1061 50%, #0D1061 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


