<nav class="navbar sticky bg-secondary text-primary dark:bg-secondary-dark dark:text-primary dark:shadow-none top-0 p-2 m-0">
    <div class="max-w-screen-3xl flex items-start justify-between mx-auto pl-4">
    
      <!-- Brand -->
      <div class="flex items-center space-x-5 rtl:space-x-reverse">
        <span id ="home" class="rounded-corners self-center text-xl sm:text-3xl py-2 font-semibold whitespace-nowrap hover:cursor-pointer"> Joshua Mance 
        </span>
      </div>
        
    <div class="flex flex-row">
      <a href="#" id="dark-mode-toggle-hamburger" class="block sm:hidden justify-end text-accent-yellow-bright dark:text-accent-yellow-dull text-2xl py-2 mr-2 hover:cursor-pointer hover:scale-110"><i class="bi bi-brightness-high-fill"></i></a>
      <!-- Hamburger menu button -->
      <button type="button"  id="hamburger-menu-button" class="sm:hidden p-2 w-10 h-10 text-xl" target = "hamburger-menu">
          <i class="bi bi-list"></i>
      </button>
  </div>

    <!-- nav items desktop -->
    <div class="hidden w-full md:block md:w-auto" id="navbar">
      <ul class="text-2xl flex flex-col self-center  md:p-0 mt-5 border rounded-lg md:flex-row rtl:space-x-reverse md:mt-0 md:border-0">
        <li class="px-5">
          <div id = "about" class="block py-2 px-7 rounded-3xl hover:underline hover:cursor-pointer">About</div>
        </li>
        <li class="px-5">
          <div id = "projects" class="block py-2 px-7 rounded-3xl hover:underline hover:cursor-pointer">Projects</div>
        </li>
        <li class="px-5">
          <div id="contact" class="block py-2 px-7 whitespace-nowrap  rounded-3xl hover:underline hover:cursor-pointer">Contact</div>
        </li>
        <li class="px-7 ">
          <a href="#" id="dark-mode-toggle" class="text-accent-yellow-bright dark:text-accent-yellow-dull text-2xl block py-2 px-3 hover:cursor-pointer hover:scale-110"><i class="bi bi-brightness-high-fill"></i></a>
        </li>
      </ul>
    </div>

  </div>

</nav>

  <nav id="hamburger-menu" class="hidden sticky top-0 flex-col pt-2 items-center h-auto text-xl bg-secondary dark:bg-secondary-dark text-primary">
    <div id = "about-hamburger" class="py-2">
        About
    </div>
    <div id = "projects-hamburger" class="py-2">
      Projects
    </div>
    <div id = "contact-hamburger" class="py-2">
      Contact
    </div>
  </nav>




