<nav class="navbar sticky bg-secondary text-primary dark:bg-secondary-dark dark:text-primary shadow-2xl dark:shadow-none top-0 p-2 m-0">
    <div class="max-w-screen-3xl flex items-start justify-between mx-auto pl-4">
    
      <!-- Brand -->
      <div class="flex items-center space-x-5 rtl:space-x-reverse">
        <span id ="home" class="rounded-corners self-center text-xl sm:text-3xl py-2 font-semibold whitespace-nowrap hover:cursor-pointer"> Joshua Mance 
        </span>
      </div>
        
    <div class="flex flex-row">
      <a href="#" id="dark-mode-toggle" class="justify-end text-accent-yellow-bright dark:text-accent-yellow-dull block py-2 mr-3 hover:cursor-pointer"><i class="bi bi-brightness-high-fill"></i></a>
      <!-- Hamburger menu button -->
      <button type="button"  class="sm:hidden p-2 w-10 h-10" target = "hamburger-menu">
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="#EFF4F7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
  </div>

    <!-- nav items desktop -->
    <div class="hidden w-full md:block md:w-auto" id="navbar">
      <ul class="text-2xl flex flex-col self-center  md:p-0 mt-5 border rounded-lg md:flex-row rtl:space-x-reverse md:mt-0 md:border-0">
        <li class="px-5">
          <div id = "about" class="block py-2 px-7 rounded-3xl hover:underline hover:cursor-pointer">About</div>
        </li>
        <li class="px-5">
          <div id = "projects" class="block py-2 px-7 rounded-3xl hover:underline hover:cursor-pointer">Projects</div>
        </li>
        <li class="px-5">
          <div id="contact" class="block py-2 px-7 whitespace-nowrap  rounded-3xl hover:underline hover:cursor-pointer">Contact</div>
        </li>
        <li class="px-7 ">
          <a href="#" id="dark-mode-toggle" class="text-accent-yellow-bright dark:text-accent-yellow-dull  block py-2 px-3 hover:cursor-pointer"><i class="bi bi-brightness-high-fill"></i></a>
        </li>
      </ul>
    </div>

  </div>

  <div class="flex flex-col pt-2 items-center h-auto text-xl ">
    <div class="py-2">
        About
    </div>
    <div class="py-2">
      Projects
    </div>
    <div class="py-2">
      Contact
    </div>
  </div>
  
</nav>




